@font-face {
  font-family: a;
  src: url(../font/bQSUfYhuCn5q.db74f7a563ec017311bc.otf) format("opentype")
}

@font-face {
  font-family: b;
  src: url(../font/G68C3crED4Jg.fed8e64030b578000a92.otf) format("opentype")
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  min-width: 100vh
}

#aq {
  width: 90vmin;
  margin-left: calc((100vw - 90vmin)/2)
}

#as {
  display: none;
  width: calc(90vmin - 2vh);
  height: 65vh;
  float: left;
  line-height: 4vh;
  overflow: hidden
}

#as div {
  height: 65vh;
  overflow: hidden
}

#connect {
  width: 0;
  height: .5vh;
  background-color: #fff;
  opacity: 0;
  margin-bottom: 10vh
}

p {
  margin: 0;
  font-family: a;
  font-size: 2vmin
}

h1 {
  font-family: b;
  font-size: 6.4vmin;
  padding-top: 6%;
  letter-spacing: 1vh;
}

h2 {
  font-family: b;
  font-size: 3vh
}