#donation_links {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}
.donation_link {
    display: table-cell;
    text-align: center;
}
.donation_title {
    display: block;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;
}
.donation_link a {
    display: block;
    margin: auto;
}
#donation_links iframe {
    background-color: rgb(232, 91, 70);
}